#footer {
    text-align: center;

    .container {
        position: relative;
        
        h3 {
            @include texto;
            font-size: 3vw;
            color: $color-blue;
            position: relative;
            padding: 6vw;
            margin: 0 0 1rem 0;
        }

        p {
            @include texto;
            font-size: 2vw;
            padding: 0;
            margin-bottom: 3rem;
        }

        .links {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: space-around;
            flex-wrap: wrap;

            a {
                text-decoration: none;
                @include texto;
                font-size: 2vw;
                display: inline-block;
                color: $color-blue;
                padding: 0 0;
                text-align: center;
                transition: 0.3s;
                list-style: none;
            }
        }
    }
}