/* FOTOGRAFIA */

.p_fotografia{
    @include texto;
    font-family:map-get($texto,font-family),sans-serif;
    text-align: map-get($texto,text-align);
    max-width: map-get($texto,max-width);
    margin-bottom:map-get($texto,margin-bottom);
    display: map-get($texto,display);
    flex-direction: map-get($texto,flex-direction);
    align-items: map-get($texto,align-items);
    color: map-get($texto,color);
    margin-top: map-get($texto,margin-top);
}







