/* FOTOGRAFIA */

.p_fotografia{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2vw;
    text-align: center;
    font-weight: 700;
    max-width: 100%;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-blue;
    margin-top: 10rem;
}
