* {
    margin: 0;
    padding: 0;

}

html {
    font-size: 62, 5%;
}


body {
    background-color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100vw;
    width: 100%;
    overflow-x: hidden;
}
.home {
    position: absolute;
    transform: translate(10px);
    top: 10px;
    text-align: left;
    left: 10px
}

.menu {
    position: absolute;
    top: 1rem;
    font-size: 20px;
}

.menu_link {
    color: $color-blue;
}

header {
    nav {
        .navbar {
            
            width: 100vw;
        }

        ul {
            li {
                list-style: none;
                display: inline-block;
                font-size: 20px;
            }
        }
    }
}

.el_turista {
    text-align: center;
    justify-content: center;
    font-size: 150px;
    font-family: 'Vujahday Script', cursive;
    font-style: italic;
    color: $color-orange;
    font-weight: 100;
    margin-top: 1rem;
}

a {
    font-family: 'Source Sans Pro', sans-serif;
}

.titulos {
    font-family: 'Vujahday Script', cursive;
    font-size: 80px;
    color: $color-blue;
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    width: 100vw;
    position: absolute;
}

$texto:(font-family: 'Source Sans Pro',
    text-align: center,
    max-width: 100vw,
    margin-bottom: 3rem,
    display: flex,
    flex-direction: column,
    align-items: center,
    color: $color-blue,
    margin-top: 10rem,
);

@mixin texto {
    font-family: 'Source Sans Pro';
    font-size: 2vw;
    font-weight: lighter;
}