#html{
    overflow-x: hidden;
}
section {
    .parallax {
        background-image: url(../Imagen/Fondo2.jpg);
        min-height: 800px;
        max-width: 100vw;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .presentacion {
    @include texto;
    font-family:map-get($texto,font-family),sans-serif;
    color: map-get($texto,color);
    text-align: map-get($texto,text-align);
    line-height: 130%;
    display: map-get($texto,display);
    align-items: map-get($texto,align-items);
    align-content: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
    font-size: 2vw;
    }
    .parallax2 {
        background-image: url(../Imagen/PANO_20211026_112913-02-01.jpeg);
        min-height: 800px;
        max-width: 100vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
    }
    .presentacion2 {
        @extend .presentacion;
        line-height: 130%;
        flex-direction: column;
        align-items: center;
        align-content: center;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .grid_menu {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1em 1em;
        grid-template-areas:
            "Foto1 Foto2"
            "Foto3 Foto4";
        max-width: 100vw;
        .imgHover1 {
            grid-area: Foto1;
        }
        .imgHover2 {
            grid-area: Foto2;
        }
        .imgHover3 {
            grid-area: Foto3;
        }
        .imgHover4 {
            grid-area: Foto4;
        }
        .HoverFoto {

            display: inline-block;
            width: 100%;
            max-width: 45vw;
            position: relative;
            cursor: pointer;
            img {
                background-size: contain;
                width: 45vw;
                background-position: center;
            }
            a {
                text-decoration: none;
                color: #fff;
                width: 100%;
                height: 100%;
                left: 0;
                text-align: center;
                font-size: 3vw;
                height: 0px;
                position: absolute;
                transition: 0.5s ease all;
                visibility: hidden;
                opacity: 0;
                bottom: 3px;
            }
            &:hover a {
                background-color: rgba(255, 255, 255, 0.4);
                visibility: visible;
                height: fit-content;
                padding: 2rem 0;
                opacity: 1;
            }
        }
    }
    .parallax3 {
        background-image: url(../Imagen/carancho.jpeg);
        min-height: 700px;
        max-width: 100vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}