/* MEDIA */

@media screen and (max-width: 656px) {

        /* INDEX */

        .el_turista {
                font-size: 100px;
                align-items: center;
                padding-left: 0rem;
        }

        section h1 {
                margin-top: 0rem;
        }
        .texto_arriba {
                display: flex;
                justify-items: center;
                top: 6rem;
        }

        header nav ul li {
                font-size: 15px;
        }

        section .parallax {
                min-height: 20rem;
                background-position-y: 0rem;
                background-size: cover;
                background-attachment: local;
        }

        .presentacion {
                margin-top: 2rem;
                margin-bottom: 2rem;
        }

        section .parallax2 {
                min-height: 20rem;
                max-width: 100%;
                background-size: cover;
                background-attachment: local;
        }

        .presentacion2 {
                margin-top: 2rem;
                margin-bottom: 2rem;
        }

        section .parallax3 {
                min-height: 20rem;
                background-position-y: 0rem;
                background-size: cover;
                background-attachment: local;
        }

        /* CONOCEME */

        .titulos {
                font-size: 60px;
                margin-top: 4rem;
        }

        /* RECOMENDACIONES */

        .titulo_descripcion {
                font-weight: 700;
        }

        .sub_titulo {
                margin-bottom: 5%;
        }

        .subtitulo1 {
                align-items: center;
        }

        .video iframe {
                width: 352px;
                height: 198px;
        }

        /* CONTACTO */

        .contacto {
                top: 7rem;
                width: 20rem;
                left: 50%;
                margin-left: -10rem;
        }
}


@media screen and (max-width: 426px) {

        /* INDEX */
        

        .el_turista {
                font-size: 75px;
                padding-top: 1rem;
                padding-left: 0;
        }

        /* CONOCEME */
        .titulos {
                font-size: 45px;
                margin-top: 3rem;
        }

        .contacto {
                margin-top: 6rem;
        }

        .imagen_fondo {
                height: 120vh;
        }

        /* RECOMENDACIONES */
        .video iframe {
                width: 256px;
                height: 144px;
        }
}

@media screen and (max-width: 350px) {

        /* INDEX */

        .el_turista {
                font-size: 50px;
                padding-left: 0;
                padding-top: 0.5rem;
        }

        .texto_arriba {
                display: flex;
                justify-items: center;
                top: 4rem;
        }

        header nav ul li {
                font-size: 15px;
        }

        .index_grid {
                font-size: 13px;
        }


        .presentacion {
                margin-top: 1rem;
                margin-bottom: 1rem;
                padding: 0 1rem;

        }

        .presentacion2 {
                margin-top: 2rem;
                margin-bottom: 2rem;
                padding: 0 1rem;
        }

        .flex_foot {
                margin: 0rem;
                font-size: 13px;
        }

        /* CONOCEME */

        .titulos {
                font-size: 40px;
                margin-top: 4rem;

        }


}

@media screen and (max-width:328px) {

        /* INDEX */

        .el_turista {
                font-size: 50px;
                padding-left: 0rem;
                padding-top: 0.5rem;
        }

        .texto_arriba {
                display: flex;
                justify-items: center;
                top: 4rem;
        }

        header nav ul li {
                font-size: 15px;
        }

        .index_grid {
                font-size: 13px;
        }

        .presentacion {
                margin-top: 1rem;
                margin-bottom: 1rem;
                padding: 0 1rem;
        }
        section .parallax {
                min-height: 7rem;
        }
        section .parallax2 {
                min-height: 7rem;
        }

        .presentacion2 {
                margin-top: 2rem;
                margin-bottom: 2rem;
                padding: 0;
        }
        section .parallax3{
                min-height: 7rem;
        }


        /* CONOCEME */

        .titulos {
                font-size: 30px;
                margin-top: 5rem;
        }

        .contacto {
                margin-top: 7rem;
        }

        /* FOTOGRAFIA */

        .p_fotografia {
                font-size: 15px;
                font-weight: 700;
                margin-bottom: 2rem;
        }

}