* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62, 5%; }

body {
  background-image: url(../subtle-prism.svg);
  background-size: contain;
  background-repeat: repeat;
  max-width: 100vw;
  width: 100%;
  overflow-x: hidden; }

.home {
  position: absolute;
  transform: translate(10px);
  top: 10px;
  text-align: left;
  left: 10px; }

.menu {
  position: absolute;
  top: 1rem;
  font-size: 20px; }

.menu_link {
  color: #00123abd; }

header nav .navbar {
  width: 100vw; }

header nav ul li {
  list-style: none;
  display: inline-block;
  font-size: 2vw;
  font-weight: bold; }

.el_turista {
  text-align: center;
  justify-content: center;
  font-size: 150px;
  font-family: 'Vujahday Script', cursive;
  font-style: italic;
  color: #ff8e00;
  font-weight: 100;
  margin-top: 1rem; }

a {
  font-family: 'Source Sans Pro', sans-serif; }

.titulos {
  font-family: 'Vujahday Script', cursive;
  font-size: 80px;
  color: #00123abd;
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  width: 100vw;
  position: absolute; }

#html {
  overflow-x: hidden; }

section .parallax {
  background-image: url(../Imagen/Fondo2.jpg);
  min-height: 800px;
  max-width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0px 15px 6px -6px rgba(21, 21, 21, 0.7);
  -moz-box-shadow: 0px 15px 6px -6px rgba(21, 21, 21, 0.7);
  box-shadow: 0px 15px 6px -6px rgba(21, 21, 21, 0.7); }

section .presentacion, section .presentacion2 {
  font-family: 'Source Sans Pro';
  font-size: 2.5vw;
  font-family: "Source Sans Pro", sans-serif;
  color: #00123abd;
  text-align: center;
  align-items: center;
  align-content: center;
  margin-top: 2rem;
  margin-bottom: 5rem; }

section .parallax2 {
  background-image: url(../Imagen/PANO_20211026_112913-02-01.jpeg);
  min-height: 800px;
  max-width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  -webkit-box-shadow: 0px 15px 6px -6px rgba(21, 21, 21, 0.7);
  -moz-box-shadow: 0px 15px 6px -6px rgba(21, 21, 21, 0.7);
  box-shadow: 0px 15px 6px -6px rgba(21, 21, 21, 0.7); }

section .presentacion2 {
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem; }

section .grid_menu {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em 1em;
  grid-template-areas: "Foto1 Foto2" "Foto3 Foto4";
  max-width: 100vw; }
  section .grid_menu .imgHover1 {
    grid-area: Foto1;
    -webkit-box-shadow: 0px 15px 6px -6px rgba(21, 21, 21, 0.7);
    -moz-box-shadow: 0px 15px 6px -6px rgba(21, 21, 21, 0.7);
    box-shadow: 0px 15px 6px -6px rgba(21, 21, 21, 0.7); }
  section .grid_menu .imgHover2 {
    grid-area: Foto2;
    -webkit-box-shadow: 0px 15px 6px -6px rgba(21, 21, 21, 0.7);
    -moz-box-shadow: 0px 15px 6px -6px rgba(21, 21, 21, 0.7);
    box-shadow: 0px 15px 6px -6px rgba(21, 21, 21, 0.7); }
  section .grid_menu .imgHover3 {
    grid-area: Foto3;
    -webkit-box-shadow: 0px 15px 6px -6px rgba(21, 21, 21, 0.7);
    -moz-box-shadow: 0px 15px 6px -6px rgba(21, 21, 21, 0.7);
    box-shadow: 0px 15px 6px -6px rgba(21, 21, 21, 0.7); }
  section .grid_menu .imgHover4 {
    grid-area: Foto4;
    -webkit-box-shadow: 0px 15px 6px -6px rgba(21, 21, 21, 0.7);
    -moz-box-shadow: 0px 15px 6px -6px rgba(21, 21, 21, 0.7);
    box-shadow: 0px 15px 6px -6px rgba(21, 21, 21, 0.7); }
  section .grid_menu .HoverFoto {
    display: inline-block;
    width: 100%;
    max-width: 45vw;
    position: relative;
    cursor: pointer; }
    section .grid_menu .HoverFoto img {
      background-size: contain;
      width: 45vw;
      background-position: center; }
    section .grid_menu .HoverFoto a {
      text-decoration: none;
      color: #00123abd;
      width: 100%;
      height: 100%;
      left: 0;
      text-align: center;
      font-size: 3vw;
      position: absolute;
      transition: 1s ease all;
      visibility: visible;
      opacity: 1;
      bottom: 3px; }
    section .grid_menu .HoverFoto:hover a {
      background-color: rgba(255, 255, 255, 0.765);
      backdrop-filter: blur(8.5px);
      visibility: visible;
      height: fit-content;
      padding: 2rem 0;
      opacity: 0.9; }

section .parallax3 {
  background-image: url(../Imagen/carancho.jpeg);
  min-height: 700px;
  max-width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0px 15px 6px -6px rgba(21, 21, 21, 0.7);
  -moz-box-shadow: 0px 15px 6px -6px rgba(21, 21, 21, 0.7);
  box-shadow: 0px 15px 6px -6px rgba(21, 21, 21, 0.7); }

/* CONOCEME */
header .index_link {
  color: #00123abd; }

.img1 {
  background-image: url(../Imagen/Fondo.jpeg);
  max-width: 80vw;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3rem;
  -webkit-box-shadow: 0px 15px 6px -6px rgba(21, 21, 21, 0.7);
  -moz-box-shadow: 0px 15px 6px -6px rgba(21, 21, 21, 0.7);
  box-shadow: 0px 15px 6px -6px rgba(21, 21, 21, 0.7); }

section .desc1, section .desc2, section .desc3 {
  font-family: 'Source Sans Pro';
  font-size: 2.5vw;
  text-align: center;
  max-width: 100vw;
  color: #00123abd;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 5%;
  align-items: flex-end;
  justify-content: center;
  z-index: 1; }

section .img2 {
  background-image: url(../Imagen/Lateral_del_texto.jpg);
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3rem;
  -webkit-box-shadow: 10px 15px 6px -6px rgba(21, 21, 21, 0.7);
  -moz-box-shadow: 10px 15px 6px -6px rgba(21, 21, 21, 0.7);
  box-shadow: 10px 15px 6px -6px rgba(21, 21, 21, 0.7); }

section .desc2 {
  line-height: 130%;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem; }

section .desc3 {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 40%;
  line-height: 130%;
  margin-top: 3rem;
  margin-bottom: 3rem; }

.img3 {
  background-image: url(../Imagen/Ecoparque.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  width: 100vw;
  -webkit-box-shadow: 0px 15px 6px -6px rgba(21, 21, 21, 0.7);
  -moz-box-shadow: 0px 15px 6px -6px rgba(21, 21, 21, 0.7);
  box-shadow: 0px 15px 6px -6px rgba(21, 21, 21, 0.7); }

/* FOTOGRAFIA */
section .p_fotografia {
  font-family: 'Source Sans Pro';
  font-size: 2.5vw;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  max-width: 100vw;
  margin-bottom: 3rem;
  align-items: center;
  color: #00123abd;
  margin-top: 10rem; }

/* RECOMENDACIONES */
section .img_fondo {
  background-image: url(../Imagen/recomendaciones.jpeg);
  min-height: 1000px;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px; }

section .titulo_descripcion {
  font-family: 'Source Sans Pro';
  font-size: 2.5vw;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: #00123abd; }

section .sub_titulo {
  font-family: 'Vujahday Script', cursive;
  font-size: 5vw;
  color: #ff8e00;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%; }

section .subtitulo1 {
  font-size: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem; }

section .subtitulo_desc {
  font-family: 'Source Sans Pro';
  font-size: 2.5vw;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  align-items: center;
  margin-bottom: 3rem;
  color: #00123abd; }

section .video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem; }

section .video iframe {
  width: 352px;
  height: 198px; }

.btn--EnriqueAlex {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 6vw;
  margin: 1em 0.8em; }

.btn--Alanxelmundo {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 6vw;
  margin: 1em 0.8em; }

.btn--Booking {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 6vw;
  margin: 1em 0.8em; }

.btn--Couchsurfing {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 6vw;
  margin: 1em 0.8em; }

.type1 {
  color: black; }

.type1::after,
.type1::before {
  content: '';
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px; }

.type1::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: black;
  border-right-color: black; }

.type1::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: orange;
  border-left-color: orange; }

.type1:hover:after,
.type1:hover:before {
  width: 100%;
  height: 100%; }

/* CONTACTO */
.navbar_contacto {
  position: absolute;
  z-index: 2; }

section .imagen_fondo {
  position: absolute;
  background-image: url(../Imagen/back_contacto.jpeg);
  height: 120vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1; }

section .contacto {
  font-size: 2rem;
  color: #ff8e00;
  margin-top: 9rem; }

section .contacto_cuadros {
  font-size: 1rem;
  color: #ff8e00; }

.links_cont {
  background-color: whitesmoke; }

#footer {
  text-align: center; }
  #footer .container {
    position: relative; }
    #footer .container h3 {
      font-family: 'Source Sans Pro';
      font-size: 2.5vw;
      font-size: 3vw;
      color: #00123abd;
      position: relative;
      padding: 6vw;
      margin: 0 0 1rem 0; }
    #footer .container p {
      font-family: 'Source Sans Pro';
      font-size: 2.5vw;
      font-size: 2vw;
      padding: 0;
      margin-bottom: 3rem; }
    #footer .container .links {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: space-around;
      flex-wrap: wrap; }
      #footer .container .links a {
        text-decoration: none;
        font-family: 'Source Sans Pro';
        font-size: 2.5vw;
        font-size: 2vw;
        display: inline-block;
        color: #00123abd;
        padding: 0 0;
        text-align: center;
        transition: 0.3s;
        list-style: none; }

/* MEDIA */
@media screen and (max-width: 656px) {
  /* INDEX */
  .el_turista {
    font-size: 100px;
    align-items: center;
    padding-left: 0rem; }
  section h1 {
    margin-top: 0rem; }
  .texto_arriba {
    display: flex;
    justify-items: center;
    top: 6rem; }
  header nav ul li {
    font-size: 15px; }
  section .parallax {
    min-height: 20rem;
    background-position-y: 0rem;
    background-size: cover;
    background-attachment: local; }
  .presentacion, section .presentacion2 {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  section .parallax2 {
    min-height: 20rem;
    max-width: 100%;
    background-size: cover;
    background-attachment: local; }
  .presentacion2 {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  section .parallax3 {
    min-height: 20rem;
    background-position-y: 0rem;
    background-size: cover;
    background-attachment: local; }
  /* CONOCEME */
  .titulos {
    font-size: 60px;
    margin-top: 4rem; }
  /* RECOMENDACIONES */
  .titulo_descripcion {
    font-weight: 700; }
  .sub_titulo {
    margin-bottom: 5%; }
  .subtitulo1 {
    align-items: center; }
  .video iframe {
    width: 352px;
    height: 198px; }
  /* CONTACTO */
  .contacto {
    top: 7rem;
    width: 20rem;
    left: 50%;
    margin-left: -10rem; } }

@media screen and (max-width: 426px) {
  /* INDEX */
  .el_turista {
    font-size: 75px;
    padding-top: 1rem;
    padding-left: 0; }
  /* CONOCEME */
  .titulos {
    font-size: 45px;
    margin-top: 3rem; }
  .contacto {
    margin-top: 6rem; }
  .imagen_fondo {
    height: 120vh; }
  /* RECOMENDACIONES */
  .video iframe {
    width: 256px;
    height: 144px; } }

@media screen and (max-width: 350px) {
  /* INDEX */
  .el_turista {
    font-size: 50px;
    padding-left: 0;
    padding-top: 0.5rem; }
  .texto_arriba {
    display: flex;
    justify-items: center;
    top: 4rem; }
  header nav ul li {
    font-size: 15px; }
  .index_grid {
    font-size: 13px; }
  .presentacion, section .presentacion2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0 1rem; }
  .presentacion2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0 1rem; }
  .flex_foot {
    margin: 0rem;
    font-size: 13px; }
  /* CONOCEME */
  .titulos {
    font-size: 40px;
    margin-top: 4rem; } }

@media screen and (max-width: 328px) {
  /* INDEX */
  .el_turista {
    font-size: 50px;
    padding-left: 0rem;
    padding-top: 0.5rem; }
  .texto_arriba {
    display: flex;
    justify-items: center;
    top: 4rem; }
  header nav ul li {
    font-size: 15px; }
  .index_grid {
    font-size: 13px; }
  .presentacion, section .presentacion2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0 1rem; }
  section .parallax {
    min-height: 7rem; }
  section .parallax2 {
    min-height: 7rem; }
  .presentacion2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0; }
  section .parallax3 {
    min-height: 7rem; }
  /* CONOCEME */
  .titulos {
    font-size: 30px;
    margin-top: 5rem; }
  .contacto {
    margin-top: 7rem; }
  /* FOTOGRAFIA */
  .p_fotografia {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 2rem; } }

/* ANIMACIONES */
.menu {
  animation: fadeInDown;
  animation-duration: 3s; }

.el_turista {
  animation: fadeInLeft;
  animation-duration: 3s; }

.presentacion, section .presentacion2 {
  animation: fadeInUp;
  animation-duration: 6s;
  animation-delay: 2s;
  animation-play-state: scroll; }

.presentacion2 {
  animation: fadeInUp;
  animation-duration: 6s;
  animation-delay: 1s;
  animation-play-state: scroll; }

.titulos {
  animation: fadeIn;
  animation-duration: 5s; }

.desc1, section .desc2, section .desc3 {
  animation: fadeInUp;
  animation-duration: 4s; }

.img2 {
  animation: fadeInLeft;
  animation-duration: 3s;
  animation-delay: 2s; }

.desc2 {
  animation: fadeInRight;
  animation-duration: 3s;
  animation-delay: 2s; }

.img3 {
  animation: fadeInUp;
  animation-duration: 4s;
  animation-delay: 4s; }

.desc3 {
  animation: fadeInLeft;
  animation-duration: 4s;
  animation-delay: 4s; }

.p_fotografia {
  animation: fadeInUp;
  animation-duration: 4s; }

.titulo_descripcion {
  animation: fadeInUp;
  animation-duration: 4s;
  animation-delay: 2s; }

.sub_titulo {
  animation: fadeIn;
  animation-duration: 4s;
  animation-delay: 2s; }

.subtitulo_desc {
  animation: fadeInUp;
  animation-duration: 4s;
  animation-delay: 2s; }

.sub_titulo1 {
  animation: fadeIn;
  animation-duration: 4s;
  animation-delay: 2s; }

.nombre {
  animation: fadeIn;
  animation-duration: 10s;
  animation-delay: 2s; }

body {
  overflow-x: hidden; }
